@model IEnumerable<Logistics.Models.Data.Order>

@{
    ViewBag.Title = "Список заказов";
}


<table class="table">
    <tr><td>Contract number</td><td>id Отправителя</td><td>id получателя</td><td></td></tr>
</table>